


<div align="center"

<div ng-app="app">
  <div ng-controller="discussionCtrl" ng-init="setup(<%= @comment.id %>, '<%= current_user.email %>')">
    <h1> <%= @comment.body%></h1>
    <input placeholder="new message" ng-model="newMessageText">
    <button ng-click="createMessage(newMessageText)">Submit</button>
    <div ng-repeat="message in messages">
      <p>{{ message.name }}: {{ message.text }}</p>
    </div>
  </div>
</div>

</div>

