


 <div class="wrapper">

    <!-- HERO -->

   <%#array = ["lyceum_four.jpg", "lyceum_three.jpg", "lyceum_two.jpg", "lyceum_one.jpg", "lyceum-umd-logo.jpg"]%>
     
     <section id="hero" class="module-hero bg-dark-30 js-fullheight" data-background="/assets/images/lyceum_two.jpg">
      <!-- HERO TEXT -->
      <div class="hero-caption"> 
        <div class="hero-text">
          <h6 class="m-b-30"> </h6>
          
          <h3 class="m-b-30" id="user_tag"> <%= current_user.email %> </h3>
          <h6 class="m-b-60"></h6>
          <!-- <a href="#portfolio" class="btn btn-dark anim-scroll">Learn More</a> -->
          <a href="/books/index" class="btn btn-dark anim-scroll"> Your Library </a>
        





        </div>
      </div>
      <!-- /HERO TEXT -->
  </section> 


  