
<div align="center" id="lesson_plan">
<section id="hero" class="module" >
   
   <h1> <p> <%= link_to "Add Book To Library", "/books/new", class: 'btn btn-dark anim-scroll' %> </p> </h1>
  
  <% current_user.books.each do |book| %> 
    <div>
    <p> <h3> <i> "<%= link_to "#{EPUB::Parser.parse(book.epub.path.to_s).metadata.title}", "/books/#{book.id}" %>" <%= link_to "Delete Book", "/books/#{book.id}", method: :delete, class: 'btn btn-dark anim-scroll' %> </i> </h3> </p> 
    <% EPUB::Parser.parse(book.epub.path.to_s).metadata.creators.each do |author| %> 
    <h6> By: <%= author.content %></h6>
    <%end%>
  <%end%>
  </div>
</section>
</div>
