<div align="right">
  <h1> <p> <%= link_to "Add Book To Library", "/books/new", class: 'btn btn-default' %> </p> </h1>
<div>

<div align="center">
  <% current_user.books.each do |book| %> 
    <p> <h3> <i> <%= link_to "#{EPUB::Parser.parse(book.epub.path.to_s).metadata.title}", "/books/#{book.id}" %> <%= link_to "Delete Book", "/books/#{book.id}", method: :delete, class: 'btn btn-default' %> </i> </h3> </p>
<%end%>
</div>
