// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hero { 
  background: image-url('data-background') center fixed;
   margin: auto;
   height: 100vh;
 }

img {
   width: 100%
 }  

#user_tag { 
  color: #ffffe6;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}