// Place all the styles related to the QuestionAnswers controller here. 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#question_answer { 
  margin-left: 280px;
  margin-right: 10px;
  color: #ffffe6;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
 
}




// .question_answer::before { 
//   background: image-url('/assets/images/corinthian_column_two.jpg') center fixed;
//   z-index: -1;
//   margin: auto;
//   width: auto;
//   height: 100vh;
//   opacity: 0.4;
//   filter: alpha(opacity=40)
//  }

