

<div align="center" id="lesson_plan"> 
  <hr size="20">
  <h1 id="circle_font"> <i> <%="#{@circle.name}" %> Active Discussion Circles </i> </h1> 
  <hr size="20">
  <ol id="circle_font">
   <%Comment.where(circle_id: @circle.id, discussion_question: true).each do |x|%>
    <div  >
      <li> <p> <h2 id="circle_font"> <%= link_to "#{x.body}", "/comments/#{x.id}" %> </h2> </p> </li>
    </div>
    <p></p>
    <%end%> 
  </ol>
</div>


<!-- <div align="center">
<div class="font" id="lesson_plan">
  <h2> Assignment: </h2>
  <h6> <% @circle.lesson_plan %> </h6>
</div>
</div>
 
 -->





  

